<rewrite>
  <rules>
    <rule name="Rewrite to index.php">
      <match url="^login/([a-zA-Z0-9]+)$"/>
      <action type="Rewrite" url="login.php?page={R:1}/>
    </rule>
    <rule name="Rewrite to news.php">
      <match url="^inicio/([a-zA-Z0-9]+)$"/>
      <action type="Rewrite" url="index.php?news={R:1}/>
    </rule>
  </rules>
</rewrite>